<div>
  <div>
    <h1>
      List of Books You've Read
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Congrats you finished a book! Add a new "read" book here.
    </h2>

    <form action="/insert_favorite" method="post">
      <div>
      
        <label for="book_id_box">
          Book
        </label>

        <select name="query_book_id">
          <% Book.all.order(:title).each do |a_book| %>
            <option value="<%= a_book.id %>">
            <%= a_book.title %>
            </option>
          <% end %>
        </select>
      </div>

      <button class="btn btn-success">
        Track reading
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border-color="black" border="1" cellpadding="20" cellspacing="1" width="100%">
      <tr align="center" valign="middle" width="50%">

        <th>
          Book
        </th>

        <th>
          Cover
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_favorites.each do |a_favorite| %>
      <tr align="center" valign="middle" width="50%">

        <td>
          <%= Book.where(:id => a_favorite.book_id).first.title %>
        </td>

        <td>
        <img src=<%= Book.where(:id => a_favorite.book_id).first.image %> width="10%" height="10%">
        </td>

        <td>
          <a href="/books/<%= a_favorite.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
