<div>
  <div>
    <h1>
      <%= @the_author.name %> details
    </h1>

    <div>
      <div>
        <a href="/authors">
          Go back
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_author.name %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_author.bio %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src=<%= @the_author.image %> width=25% height=25%>
      </dd>

       <dt>
        Books by this author
      </dt>
      <dd>
          <% Book.where(:author_id => @the_author.id).each do |a_books| %>
          <li>
          <%= a_books.title %>
        </li>
        <% end %>
              </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit author information
    </h2>

    <form action="/modify_author/<%= @the_author.id %>"  method="post" >
      <div>
        <label for="name_box">
        </label>

        <input type="hidden" id="name_box" name="query_name" value="<%= @the_author.name %>">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio"><%= @the_author.bio %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_author.image %>">
      </div>

      <button>
        Update author
      </button>
    </form>
  </div>
</div>

<hr>
