<div>
  <div class="text-center">
    <h1>
      About <%= @the_author.name %> 
    </h1>

    <div>
      <div>
        <a href="/authors">
          Go back to all authors
        </a>
      </div>
    </div>

    <dl>
      <dd>
        <img src=<%= @the_author.image %> width=25% height=25%>
      </dd>
      
      <dd>
        <%= @the_author.bio %>
      </dd>

      <dt>
        Books by this author
      </dt>
      <dd class="text-success">
        <i>
          <% Book.where(:author_id => @the_author.id).each do |a_books| %>
          <ul>
            <a href="/books/<%=a_books.id%>">
              <%= a_books.title %>
            </a>
          </ul>
          <% end %>
        </i>
        </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div class="text-center">
    <h2>
      Edit author information
    </h2>

    <form action="/modify_author/<%= @the_author.id %>"  method="post" >
      <div>
        <label for="name_box">
        </label>

        <input type="hidden" id="name_box" name="query_name" value="<%= @the_author.name %>">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="bio_box">
          Bio
        </label>

        <textarea class="form-control" id="bio_box" name="query_bio"><%= @the_author.bio %></textarea>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="image_box">
          Image
        </label>

        <input class="form-control" type="text" id="image_box" name="query_image" value="<%= @the_author.image %>">
      </div>

      <button class="btn btn-success">
        Update author
      </button>
    </form>
  </div>
</div>

<hr>
