<div>
  <div>
    <h1>
      <i>
      <%= @the_book.title %> </i> details
    </h1>

    <div>
      <div>
        <a href="/books">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_book/<%= @the_book.id %>">
          Delete book
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_book.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_book.description %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= Genre.where(:id => @the_book.genre_id).first.genre_name %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src=<%= @the_book.image %>>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= Author.where(:id => @the_book.author_id).first.name %>
      </dd>

      <dt>
        See author details
      </dt>
      <dd>
        <a href="/authors/<%= @the_book.author_id %>">
            Show author details
          </a>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit book
    </h2>

    <form action="/modify_book/<%= @the_book.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_book.title %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_book.description %>">
      </div>

      <div>
        <label for="genre_id_box">
          Genre
        </label>

        <select name="query_genre_id">
          <% Genre.all.order(:genre_name).each do |a_genre| %>
            <option value="<%= a_genre.id %>">
            <%= a_genre.genre_name %>
            </option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_book.image %>">
      </div>

      <div>
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id" value="<%= Author.where(:id => @the_book.author_id).first.name %>">
      </div>

      <button>
        Update book
      </button>
    </form>
  </div>
</div>

<hr>
