<div>
 <div>
      <div>
        <a href="/books">
          Go back to All Books
        </a>
      </div>

    </div>
  <div class="text-center">
    <h1>
      <i>
      <%= @the_book.title %> </i> 
    </h1>


    <div>
      Add this title to <a href="/favorites">books you've read</a>
    </div>

    <dl class="text-center">
      <dt>
      </dt>
      <dd>
        <img src=<%= @the_book.image %> width=10% height=10%>
      </dd>
      
      <dt>
      </dt>
      <dd>
        <%= @the_book.description %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= Genre.where(:id => @the_book.genre_id).first.genre_name %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= Author.where(:id => @the_book.author_id).first.name %>
      </dd>

      <dt>
      </dt>
      <dd>
        <a href="/authors/<%= @the_book.author_id %>">
            Show author details
          </a>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div class="text-center">
    <h2>
      Edit book
    </h2>

    <form action="/modify_book/<%= @the_book.id %>"  method="post" >
      <div class="input-group mb-3">
        <label class="input-group-text" for="title_box">
          Title
        </label>

        <input class="form-control" type="text" id="title_box" name="query_title" value="<%= @the_book.title %>">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="description_box">
          Description
        </label>

        <input class="form-control" type="text" id="description_box" name="query_description" value="<%= @the_book.description %>">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="genre_id_box">
          Genre
        </label>

        <select class="form-select" name="query_genre_id">
          <% Genre.all.order(:genre_name).each do |a_genre| %>
            <option value="<%= a_genre.id %>">
            <%= a_genre.genre_name %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="image_box">
          Image
        </label>

        <input class="form-control" type="text" id="image_box" name="query_image" value="<%= @the_book.image %>">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="author_id_box">
          Author
        </label>

        <select class="form-select" name="query_author_id">
          <% Author.all.order(:name).each do |a_author| %>
            <option value="<%= a_author.id %>">
            <%= a_author.name %>
            </option>
          <% end %>
        </select>
      </div>

      <button class="btn btn-success">
        Update book
      </button>
    </form>
  </div>
</div>

<hr>
